<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Sbaleno
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Sbaleno</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-list>

    <ion-item *ngFor="let item of allPackedItems">
      <ion-label>
        {{ item.itemName }}
      </ion-label>
      <ion-note slot="end" color="medium">
        {{ item.listName }}
      </ion-note>
    </ion-item>

    <ion-item *ngIf="allPackedItems.length === 0">
      <ion-label color="medium" class="ion-text-center">
        Zatím nemáš nic sbaleno.
      </ion-label>
    </ion-item>

  </ion-list>
</ion-content>