<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/tab1"></ion-back-button>
    </ion-buttons>
    <ion-title>{{ packList ? packList.name : 'Načítám...' }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
<ion-content class="ion-padding">

  <div *ngIf="packList">
    
    <h3>Věci k sbalení:</h3>

    <ion-list>
      <ion-item *ngFor="let item of packList.items">
        <ion-label>
          {{ item.name }}
        </ion-label>
      </ion-item>
    </ion-list>

  </div>

  <div *ngIf="!packList">
    <p>Tento seznam se nepodařilo najít.</p>
  </div></ion-content>